.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f2f2f2;
}


h2 {
  margin-bottom: 30px;
  font-size: 36px;
  /* add outer-glow */
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #01212e,
    0 0 70px #1a81ad, 0 0 80px #108ec4, 0 0 100px #0c80b3, 0 0 150px #0c80b3; */
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  
}

input[type="text"] {
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  /* add outer glow */
  box-shadow: 0 0 0px #fff, 0 0 15px #fff, 0 0 0px #fff, 0 0 0px #ffffff,
    0 0 0px #37393a, 0 0 0px #505455, 0 0 0px #595d5f, 0 0 25px #808585;
    
}

/* create a input box with metro border */
input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  

}

/* button[type="submit"] {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2c387e;
} */

button[type="submit"] {
  position: relative;
  background-color: rgb(168, 171, 173);
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button[type="submit"]:hover {
  transition-duration: 0.1s;
  background-color: #448acc;
}

button[type="submit"]:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(14, 153, 233);
}

button[type="submit"]:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

button[type="submit"]:active {
  top: 1px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 18px;
  margin-bottom: 5px;
}
